@charset "UTF-8";
/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "CoffeFont";
  src: url(PicturamaAlternate_PERSONAL_USE_ONLY.otf) format("opentype");
}
/* Variables CSS */
:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid #d3ad7f;
  --white: #fff;
  --gray: #CCD3DB;
  --milkCoffe: #ffcb70;
}

/* Estilos generales */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  background: var(--bg);
  font-size: 16px;
}

/* Estilos de encabezado */
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0.5rem;
}
.header .logo {
  font-style: italic;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--main-color);
}
.header .logo img {
  height: 2.5rem;
  transition: 0.25s;
  margin-right: 0.5rem;
  margin-left: 20px;
}
.header .logo img:hover {
  transform: rotate(360deg);
}
.header .navbar a {
  color: var(--white);
  margin: 1rem;
  font-size: 1.5rem;
  transition: 0.25s;
  font-style: italic;
}
.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: var(--border);
}
.header .icons {
  display: flex;
}
.header .icons a {
  transform: translateY(5px);
  font-size: 2em;
  margin-right: 20px;
  display: inline-block;
  transition: 0.25s;
  color: var(--white);
}
.header .icons a:hover {
  transform: scale(1.2);
  color: var(--main-color);
}
.header .icons .menuBars {
  display: none;
}

/* Estilos de la sección de inicio */
.home {
  position: relative;
  background-image: linear-gradient(135deg, var(--white) 0%, var(--gray) 50%);
}
.home .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  bottom: 0;
  padding: 3rem;
  z-index: 1;
}
.home .content h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--main-color);
}
.home .content p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.4;
  color: var(--bg);
  margin-bottom: 1rem;
  padding-right: 1rem;
  max-width: 37rem;
}
.home .content .btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--main-color);
  border: 2px solid var(--white);
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  transition: 0.3s;
}
.home .content .btn:hover {
  background-color: var(--milkCoffe);
  letter-spacing: 4px;
}
.home .homeBackground {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  transition: padding-right 0.3s;
}
.home .homeBackground .imgBackground {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .homeBackground .imgBackground img {
  max-width: 50rem;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.5) 1.5rem 3rem 2rem;
}
.home .homeBackground .imgBackground .btnCoffe {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6.5%;
  font-family: "CoffeFont";
  font-size: 480%;
  text-align: center;
  color: var(--white);
  width: 50%;
  height: 50%;
  border: 2px solid var(--white);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.home .homeBackground .imgBackground .btnCoffe:hover {
  color: var(--milkCoffe);
  transform: rotate(15deg) scale(1.2);
  border: 4px solid var(--milkCoffe);
  background-color: rgba(255, 203, 112, 0.1);
}

/* responsive */
@media screen and (max-width: 1450px) {
  .home .homeBackground {
    padding-left: 90rem;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
  .header .icons .menuBars {
    display: inline;
  }
  .home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 33%;
    height: 110vh;
  }
  .home .content {
    position: relative;
    align-items: center;
    padding: 2rem;
  }
  .home .content h1 {
    font-size: 3.2rem;
  }
  .home .content p {
    font-size: 1.5rem;
    text-align: center;
  }
  .home .content .btn {
    font-size: 1.3rem;
  }
  .home .homeBackground {
    padding-right: 0;
    padding-left: 0;
  }
  .home .homeBackground .imgBackground img {
    width: 80%;
  }
  .home .homeBackground .imgBackground .btnCoffe {
    font-size: 310%;
    margin-left: 5%;
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .home .homeBackground .imgBackground .btnCoffe {
    font-size: 205%;
  }
}/*# sourceMappingURL=style.css.map */